<h1>Dish</h1>

<p>	
	<%= image_tag @dish.picture %>
</p>

<p>
	<strong>Name:</strong>
	<%= @dish.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @dish.description %>
</p>

<p>
	<strong>Price:</strong>
	<%= @dish.price %>
</p>

<%= link_to 'Back', restaurants_path %>