<h1>Restaurants</h1>

<div class="card" style="width: 20rem;">
	<% @restaurants.each do |restaurant| %>
	<%= link_to(image_tag(restaurant.image, size: 400, class:"img-fluid"), restaurant) if restaurant.image.attached? %>
		<div class="card-body">    
			<p class="card-text"><strong><%= restaurant.name %></strong></p>
			<p class="card-text"><strong><%= restaurant.description %></strong></p>	
		</div>
	<% end %>		
</div>