<%= link_to 'Back', restaurants_path %>	

<h1>Restaurant dishes</h1>

<div class="card" style="width: 18rem;">
	<%= image_tag @restaurant.image %>
	<div class="card-body">
		<h5 class="card-title">Saebiz</h5>
		<p class="card-text"><strong>Name:</strong>
		<%= @restaurant.name %></p>
		<p class="card-text"><strong>Description:</strong>
		<%= @restaurant.description %></p>  
	</div>
</div>
</br>
<% @restaurant.dishes.each do |dish| %>
<div class="card" style="width: 16rem;">
	<%= image_tag(dish.picture, size: 300, class:"img-fluid") if @restaurant.image.attached? %>  
	<div class="card-body">		
		<p class="card-text">Title: <%= dish.title %></p>
		<p class="card-text">Description: <%= dish.description %></p>  
		<p class="card-text">Price: <%= dish.price %></p> 				
	</div>
</div>
<% end %>