<!DOCTYPE html>
<html>
<head>
	<title>FoodOuder</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<%= render 'layouts/application/navbar' %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<div class="container">
  		<div class="row">
    		<div class="col-sm">
				<%= yield %>
    		</div>
  		</div>
	</div>
</body>
</html>
